@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-family: "Great Vibes";
    font-size: 60px;
    margin-top: 10px;
    padding: 10px;
}

#produtos {
    padding-top: 10px;
    padding-bottom: 40px;
}

.valor {
    display: flex;
    justify-content: center;
    font-weight: 500;
}


.botaoCompra {
    background: rgb(255,141,0);
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(62, 164, 241, 0.76) 0%, rgba(166,239,253,1) 90.1% );;
    font-weight: 700;
    color:rgb(21, 71, 75);
    width: 100%;
    padding: 9px;
    border-radius: 5px;

}

#footer {
    padding: 20px;
    background-color: rgb(241, 239, 239);
}
i {
    font-size: 40px;
    padding: 10px;
    color: rgb(8, 206, 241);
    
}