* {
    margin: 0;
    padding: 0;
    border: 0;
}

#head {
    border-bottom: 1px solid;
    border-color: black;
}

#produtos {
    padding-top: 10px;
    padding-bottom: 40px;
}

.valor {
    display: flex;
    justify-content: center;
    font-weight: 500;
}

#footer {
    border-top: 1px solid;
    padding: 10px;
}